In [1]:
import pandas as pd

In [2]:
stocks = [
    'agn', 'goog', 'goog', 'goog', 'goog', 'low', 'low', 'ma', 'ma', 'ma', 
    'flws', 'dhi', 'r', 'r', 'stx', 'stx', 'msft', 'expr', 'nflx', 'nflx', 
    'fisv', 'fisv', 'f', 'vfc', 'vfc', 'vfc', 'igt', 'dltr', 'dltr', 'trip', 
    'dlx', 'sks', 'wdc', 'wdc', 'wdc', 'biib', 'biib', 'biib', 'jci', 'amgn', 
    'amgn', 'cern', 'sjm', 'dds', 'bdx', 'gci', 'gci', 'pbi', 'luv', 'rl', 
    'pcln', 'pcln'
]

In [7]:
df = pd.read_csv('testing_data.csv')

In [8]:
x = df[df.Ticker.isin(stocks)]
x['beat_sp500'] = (x['stock_p_change'] + 10) > x['SP500_p_change']

C:\Users\Bogdan\AppData\Local\Temp\ipykernel_3732\2057383907.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['beat_sp500'] = (x['stock_p_change'] + 10) > x['SP500_p_change']

In [9]:
x_deduplicated = x.drop_duplicates(subset='Ticker', keep='first')
x_deduplicated[['Date', 'Ticker', 'beat_sp500', 'stock_p_change', 'SP500_p_change']]
#x_deduplicated[x_deduplicated['beat_sp500'] == True].shape
#x_deduplicated['stock_p_change'].mean()
#x_deduplicated['SP500_p_change'].mean()

                    Date Ticker  beat_sp500  stock_p_change  SP500_p_change
27   2013-04-22 02:49:52    agn        True          110.46           22.74
67   2013-08-18 08:54:27   goog        True           36.01           21.35
153  2013-05-15 15:02:59    low       False            4.85           15.08
155  2013-03-15 02:24:36     ma        True           53.59           20.36
228  2013-04-25 05:44:22   flws       False           -1.06           19.89
275  2013-05-16 16:55:48    dhi       False          -16.93           16.03
324  2013-04-22 08:27:16      r        True           45.15           22.74
326  2013-04-23 03:29:21    stx        True           55.75           21.20
340  2013-03-17 18:27:50   msft        True           39.70           21.45
363  2013-05-24 04:30:36   expr       False          -28.07           17.47
378  2013-01-20 19:21:29   nflx        True          232.80           26.31
384  2013-02-06 16:21:03   fisv        True           36.58           19.78
440  2013-01-26 03:04:52      f        True           18.79           21.47
483  2013-04-22 03:15:11    vfc        True           47.24           22.74
509  2013-06-01 04:17:51    igt       False          -23.50           20.26
515  2013-05-12 16:13:24   dltr       False            8.18           18.48
542  2013-05-16 21:50:50   trip        True           39.18           16.03
567  2013-05-12 21:32:54    dlx        True           48.71           18.48
587  2013-05-13 14:33:18    sks       False          -50.99           18.50
603  2013-04-23 03:38:30    wdc        True           72.44           21.20
606  2013-02-06 17:31:35   biib        True           86.99           19.78
622  2013-05-07 09:18:47    jci        True           28.67           17.88
628  2013-05-21 08:37:22   amgn        True           10.97           15.42
653  2013-02-06 13:18:14   cern        True           25.44           19.78
723  2013-05-17 14:04:15    sjm       False           -1.73           14.92
734  2013-05-10 01:45:27    dds        True           10.23           17.34
756  2013-06-08 07:41:31    bdx        True           23.21           20.95
773  2013-03-31 18:22:33    gci        True           30.36           21.77
776  2013-04-25 06:46:53    pbi        True           71.27           19.89
802  2013-04-22 02:47:41    luv        True           83.46           22.74
805  2013-05-07 08:12:44     rl       False          -16.50           17.88
854  2013-05-12 10:28:05   pcln        True           51.99           18.48